<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴</title>
    <style>
        .container {
            text-align: center;
            margin-top: 50px;
        }
        .btn {
            padding: 10px 20px;
            margin: 10px;
            font-size: 50pt;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
        }
        .btn:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
  <!-- <div class="container"> -->
  <!-- hr tag :  -->
        <center>메뉴판</center>
        <p>
            <button name="menu1" style="width: 70pt;">아메리카노</button><br>
            <button name="menu2" style="width: 70pt;">카페라테</button><br>
        </p>
        <hr> 
            <button name="menu2" style="width: 70pt;">녹차</button>
        
  <!-- </div> -->
</body>
</html>
